:root {
    --main-color: #2c698d;
    --second-color: #018ABD;
    --third-color: #d9edf7;
    --fourth-color: #DDE8F0;
}

body {
    background-color: var(--third-color);
    overflow-x: hidden;
}

body, html {
    overflow-x: hidden;
    max-width: 100%;
  }  

.sidebar {
    width: 15.6rem;
    height: 100%;
    background: white;
    position: fixed;
    padding: 0.6rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.sidebar {
    transition: width 0.3s ease-in-out;
}

.sidebar .nav-link {
    color: #333;
    margin: 0.6rem 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all 0.3s;
    padding: 0.6rem 0.6rem;
}

.sidebar .nav-link i {
    min-width: 2.5rem;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.sidebar .nav-link.active {
    background: var(--second-color);
    color: white !important;
    border-radius: 5px;
}

.sidebar .nav-link:hover {
    background: var(--main-color);
    color: white;
    border-radius: 5px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo h1 {
    font-size: 2rem;
    padding-left: 2rem;
}

.dashboard-content {
    margin-left: 250px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 250px);
}

.sidebar.collapsed {
    width: 4.4rem;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar.collapsed ~ .dashboard-content {
    margin-left: 4.4rem;
    width: calc(100% - 4.4rem);
}

.sidebar.collapsed .logo h1,
.sidebar.collapsed .nav-link span {
    display: none;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
    padding: 10px 0;
}

.sidebar.collapsed .nav-link i {
    font-size: 1.2rem;
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-right: 0.8rem;
    cursor: pointer;
}

.close-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Logout */
.logout-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.logout-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dc3545 !important;
    text-decoration: none;
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
    transition: all 0.3s;
}

.logout-link i {
    margin-right: 0.6rem;
}

.sidebar.collapsed .logout-link i {
    margin-right: 0;
}

.logout-link:hover {
    background-color: rgba(220, 53, 69, 0.1);
}

.sidebar.collapsed .logout-link span {
    display: none;
}


/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        width: 250px;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar.collapsed {
        width: 15.6rem;
        transform: translateX(-100%);
    }

    .sidebar.collapsed.show {
        transform: translateX(0);
    }

    .sidebar.collapsed ~ .dashboard-content,
    .sidebar ~ .dashboard-content {
        margin-left: 0;
        width: 100%;
    }

    .close-btn {
        display: block !important;
    }
}
/* End of SideBar CSS */

.table-container {
    max-width: 100%;
    margin: auto;
    background: white;
    padding: 0.6rem;
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="date"]:focus {
    border-color: #2c698d;
    box-shadow: 0 0 0 0.2rem rgba(44, 105, 141, 0.25);
}
.search-bar {
    max-width: 15.6rem;
}
.btn {
    background: #2c698d;
    color: #d6eaf8;
    border: #2c698d;
}
.btn:hover {
    background: #d6eaf8;
    color: #2c698d;
}
.table thead {
    background: #d6eaf8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #2c698d;
}
.table thead th:first-child {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}
.table thead th:last-child {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}
/* .table-mobile-wrap td,
.table-mobile-wrap th {
    white-space: normal !important;
    word-break: break-word;
} */
.table-container {
    overflow-x: hidden;
    word-wrap: break-word;
}
span.flex-grow-1 {
    color: #333;
}
::before {
    color: #333;
}


@media (max-width: 768px) {
    .table {
        border: 0;
    }

    .table thead {
        display: none;
    }


    .table tr {
        margin-bottom: 1rem;
        display: block;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        background: white;
        padding: 1rem;
    }

    .table td {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border: none;
        border-bottom: 1px solid #eee;
    }

    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-align: left;
        color: #004581;
    }

    .table td:last-child {
        border-bottom: none;
    }
    
}
button.btn.btn-action.w-auto:hover {
    background-color: var(--second-color);
    color: white;
}
.container.mt-4 {
    max-width: 1750px;
}
td.dt-type-numeric.sorting_1 {
    width: 22rem;
}

  
  
