:root {
    --main-color: #2c698d;
    --second-color: #018ABD;
    --third-color: #d9edf7;
    --fourth-color: #DDE8F0;
}

body {
    background-color: var(--third-color);
    overflow-x: hidden;
}

/* Sidebar Styling */
.sidebar {
    width: 15.6rem;
    height: 100%;
    background: white;
    position: fixed;
    padding: 0.6rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.sidebar {
    transition: width 0.3s ease-in-out;
}

.sidebar .nav-link {
    color: #333;
    margin: 0.6rem 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all 0.3s;
    padding: 0.6rem 0.6rem;
}

.sidebar .nav-link i {
    min-width: 2.5rem;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.sidebar .nav-link.active {
    background: var(--second-color);
    color: white !important;
    border-radius: 5px;
}

.sidebar .nav-link:hover {
    background: var(--main-color);
    color: white;
    border-radius: 5px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo h1 {
    font-size: 2rem;
    padding-left: 2rem;
}

.dashboard-content {
    margin-left: 250px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 250px);
}

.sidebar.collapsed {
    width: 4.4rem;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar.collapsed ~ .dashboard-content {
    margin-left: 4.4rem;
    width: calc(100% - 4.4rem);
}

.sidebar.collapsed .logo h1,
.sidebar.collapsed .nav-link span {
    display: none;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
    padding: 10px 0;
}

.sidebar.collapsed .nav-link i {
    font-size: 1.2rem;
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-right: 0.8rem;
    cursor: pointer;
}

.close-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Logout */
.logout-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.logout-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dc3545 !important;
    text-decoration: none;
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
    transition: all 0.3s;
}

.logout-link i {
    margin-right: 0.6rem;
}

.sidebar.collapsed .logout-link i {
    margin-right: 0;
}

.logout-link:hover {
    background-color: rgba(220, 53, 69, 0.1);
}

.sidebar.collapsed .logout-link span {
    display: none;
}

/* Accordion Toggle Alignment */
.violation-accordion .accordion-button.violation-toggle {
    background: transparent;
    color: #333;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 0.6rem 0.6rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    text-align: left;
}

.violation-accordion .accordion-button,
.violation-accordion .accordion-body {
    overflow: hidden;
}

.violation-accordion .accordion-button.violation-toggle:hover {
    background: var(--main-color);
    color: white;
}

.violation-accordion .accordion-button.violation-toggle:not(.collapsed) {
    background: var(--second-color);
    color: white;
}

.violation-accordion .accordion-button.violation-toggle i {
    min-width: 2.5rem;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.violation-accordion .accordion-button::after {
    display: none !important;
}

/* Sub-links */
.accordion-body .sub-link {
    padding: 0.3rem 1rem 0.3rem 2.5rem;
    font-size: 0.78rem;
    color: #333;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem; 
    margin-top: 0;
}

.accordion-body .sub-link:hover {
    background: var(--main-color);
    color: white;
    border-radius: 5px;
}

.violation-accordion .accordion-button.violation-toggle.active-parent {
    background: var(--second-color) !important;
    color: white !important;
}

.accordion-body .sub-link.active {
    background: var(--second-color);
    color: white !important;
    border-radius: 5px;
}

.sidebar.collapsed .accordion-body {
    display: block !important;
    padding: 0;
}

.sidebar.collapsed .accordion-body .sub-link {
    justify-content: center;
    padding: 0.3rem 0;
    margin: 0; 
}

.sidebar.collapsed .accordion-body .sub-link small {
    display: none;
}

.sidebar.collapsed .accordion-body .sub-link i {
    margin: 0;
    font-size: 1.1rem;
}

/* Logo */
img.sidebar-logo.full-logo{
    margin-right: 0;
}

button#closeSidebar {
    margin-right: 5px;
}

.sidebar-logo {
    height: 70px;
    transition: all 0.3s ease;
}

.full-logo {
    display: block;
}

.icon-logo {
    display: none;
}

.sidebar.collapsed .full-logo {
    display: none;
}

.sidebar.collapsed .icon-logo {
    display: block !important;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}

.sidebar.collapsed .logo {
    justify-content: center;
}

img.sidebar-logo.full-logo {
    width: 12rem;
    object-fit: cover;
}

img.sidebar-logo.icon-logo.d-none {
    margin-right: 2rem;
    height: 3rem;
}

/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        width: 250px;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar.collapsed {
        width: 15.6rem;
        transform: translateX(-100%);
    }

    .sidebar.collapsed.show {
        transform: translateX(0);
    }

    .sidebar.collapsed ~ .dashboard-content,
    .sidebar ~ .dashboard-content {
        margin-left: 0;
        width: 100%;
    }

    .close-btn {
        display: block !important;
    }
}
/* End of SideBar CSS */

.card-table {
    border-radius: 0.7rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    padding: 0.6rem;
}
.btn-add {
    background-color: #325b74;
    color: white;
    border-radius: 0.7rem;
    font-weight: 600;
}
.btn-add:hover {
    background: #2596BE;
    color: #fff;
}
.btn-action {
    border-radius: 6.5rem;
    font-size: 0.9rem;
    padding: 2px 14px;
    margin-right: 0.3rem;
    color: #2596BE;
}
.table thead {
    background-color: #f8f9fa;
}
h3.mb-0 {
    color: #376881;
}
label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.btn-action:hover {
    background: #2596BE;
    border: none;
    color: white;
}
.add-btn {
    background: #2596BE;
    color: #fff;
    border: none;
}
.add-btn:hover {
    background: #376881;
}
.content-section {
    display: none;
}
.content-section.active {
    display: block;
}

textarea {
    min-height: 3rem;
    max-height: 5.5rem;
}

/* Add this to your CSS file */
@media (max-width: 768px) {
    .card-table {
      padding: 0;
      border-radius: 0.7rem;
      overflow: hidden;
    }
  
    .table {
      border: 0;
    }
  
    .table thead {
      display: none;
    }
  
    .table tr {
      display: block;
      margin-bottom: 1rem;
      background: white;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      padding: 0.5rem;
    }
  
    .table td {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      border: none;
      border-bottom: 1px solid #eee;
      text-align: right;
    }
  
    .table td:last-child {
      border-bottom: none;
      justify-content: flex-end;
      gap: 0.5rem;
    }
  
    /* Add data labels */
    .table td::before {
      content: attr(data-label);
      font-weight: bold;
      color: #004581;
      margin-right: auto;
      padding-right: 1rem;
      text-align: left;:root {
    --main-color: #2c698d;
    --second-color: #018ABD;
    --third-color: #d9edf7;
    --fourth-color: #DDE8F0;
}

body {
    background-color: var(--third-color);
    overflow-x: hidden;
}

/* Start of SideBar CSS */
.sidebar {
    width: 15.6rem;
    height: 100%;
    background: white;
    position: fixed;
    padding: 0.6rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.sidebar .nav-link {
    color: #333;
    margin: 0.6rem 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all 0.3s;
}

.sidebar .nav-link i {
    min-width: 2.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.sidebar .nav-link.active {
    background: var(--second-color);
    color: white !important;
    border-radius: 5px;
}

.sidebar .nav-link:hover {
    background: var(--main-color);
    color: white;
    border-radius: 5px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo h1 {
    font-size: 2rem;
    padding-left: 2rem;
}

.dashboard-content {
    margin-left: 250px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 250px);
}

.sidebar.collapsed {
    width: 4.4rem;
}

.sidebar.collapsed ~ .dashboard-content {
    margin-left: 4.4rem;
    width: calc(100% - 4.4rem);
}

.sidebar.collapsed .logo h1,
.sidebar.collapsed .nav-link span {
    display: none;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
    padding: 10px 0;
}

.sidebar.collapsed .nav-link i {
    font-size: 1.2rem;
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-right: 0.8rem;
    cursor: pointer;
}

.close-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Centered logout button */
.logout-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.logout-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dc3545 !important;
    text-decoration: none;
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
    transition: all 0.3s;
}

.logout-link i {
    margin-right: 0.6rem;
}

.sidebar.collapsed .logout-link i {
    margin-right: 0;
}

.logout-link:hover {
    background-color: rgba(220, 53, 69, 0.1);
}

.sidebar.collapsed .logout-link span {
    display: none;
}

/* Logo */
img.sidebar-logo.full-logo{
    margin-right: 0;
}

button#closeSidebar {
    margin-right: 5px;
}

.sidebar-logo {
    height: 70px;
    transition: all 0.3s ease;
}

.full-logo {
    display: block;
}

.icon-logo {
    display: none;
}

.sidebar.collapsed .full-logo {
    display: none;
}

.sidebar.collapsed .icon-logo {
    display: block !important;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}

.sidebar.collapsed .logo {
    justify-content: center;
}

img.sidebar-logo.full-logo {
    width: 12rem;
    object-fit: cover;
}

img.sidebar-logo.icon-logo.d-none {
    margin-right: 2rem;
    height: 3rem;
}

/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        width: 250px;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar.collapsed {
        width: 15.6rem;
        transform: translateX(-100%);
    }

    .sidebar.collapsed.show {
        transform: translateX(0);
    }

    .sidebar.collapsed ~ .dashboard-content,
    .sidebar ~ .dashboard-content {
        margin-left: 0;
        width: 100%;
    }

    .close-btn {
        display: block !important;
    }
}
/* End of Side Bar CSS */

/* Table Container Styles */
.table-container {
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  thead {
    background-color: #f1f5f9;
  }
  
  thead th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  label {
    margin-bottom: 0.5rem;
  }
  
  tbody td {
    font-size: 0.9rem;
  }
  
  tbody tr:hover {
    background-color: #f1f7fd;
  }
  
  td:nth-child(1) {
    font-weight: 600;
    color: #2c698d;
  }
  
  td:nth-child(4) {
    font-weight: 500;
  }
  
  .btn-action {
    background-color: #2c698d;
    color: white;
    border: none;
    transition: 0.3s ease;
    padding: 0.4rem 0.75rem;
    border-radius: 0.375rem;
  }
  
  button.btn.btn-action.w-auto:hover {
    background-color: var(--second-color);
    color: white;
  }
  
  .btn-save {
    background-color: #198754;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.375rem;
    border: none;
  }
  
  .btn-save:hover {
    background-color: #146c43;
    color: white;
  }
  
  /* Modal Styling */
  .modal-content {
    border-radius: 1rem;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
  }
  
  .modal-header h5,
  .modal-title {
    font-weight: 600;
  }
  
  .modal-body label {
    font-weight: 500;
  }
  
  input[type="date"] {
    border-radius: 50rem;
    padding: 0.5rem 1rem;
  }
  
/* RESPONSIVE STACKED TABLE STYLE */
@media (max-width: 768px) {
table, thead, tbody, th, td, tr {
    display: block;
}

thead {
    display: none;
}

tr {
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 0.75rem;
    background: #ffffff;
}

td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    border: none;
    border-bottom: 1px solid #eee;
}

td::before {
    content: attr(data-label);
    position: absolute;
    left: 1rem;
    width: 45%;
    padding-right: 1rem;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    color: #555;
}
}
.container.mt-4 {
    max-width: 1750px;
}
    }
  
    .table td:nth-child(1)::before { content: "Violation ID:"; }
    .table td:nth-child(2)::before { content: "Type of Violation:"; }
    
    #referral-list td:nth-child(1)::before { content: "Referral ID:"; }
    #referral-list td:nth-child(2)::before { content: "Action Taken:"; }
    
    #penalty-list td:nth-child(1)::before { content: "Penalty ID:"; }
    #penalty-list td:nth-child(2)::before { content: "Penalty Taken:"; }
  
    .btn-action {
      margin: 0.2rem;
      padding: 0.3rem 0.8rem;
    }
  }
  .container.mt-4 {
    max-width: 1750px;
}